.section {
  padding-left: 20px;
  display: flex;
}

.image {
  display: block;
  width: 300px;
  margin-right: 30px;
}

.desc>h2 {
  padding: 0;
}

.genresList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.genresItem:not(:last-child) {
  margin-right: 15px;
}
