.form {
  padding-left: 20px;
  display: flex;
}

.input {
  padding: 5px 10px;
  margin-right: 15px;
}

.button {
  padding: 0;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: black;
  transition: color 300ms ease;
}

.button:hover {
  color: orange;
}
